body {
    background-image: url(https://wallpaperset.com/w/full/6/1/4/225894.jpg)
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 25px;
}

a {
    font-size: 25px;
}

a {
    color:rgb(0, 0, 0)
}

/* visited link */
a:visited {
    color:rgb(255, 255, 255)
}

/* mouse over link */
a:hover {
    color:chartreuse
  }