h1 {
    color:rgb(255, 255, 255)
}

p {
    color:rgb(255, 255, 255)
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.para1 {
    font-family:monospace
}

body {
    background-image: url(https://cdn.cbeditz.com/cbeditz/preview/dark-blue-gradient-background-download-11614501656wxkrtcqtcr.jpg);
    background-size: cover;
    opacity: 1
}
